html {
  font-family: "M PLUS 2", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 1fr 9fr 1fr;
}

#funtions {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  padding: 1rem 2rem 3rem 2rem;
  border-radius: 7px;
  background-color: #f9f9f9;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px white;
}

a {
  text-decoration: none;
  color: rgba(36, 0, 0, 0.8980392157);
}

.titles {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.5rem 1fr;
  transition: grid-template-columns 300ms ease;
}

.titles.is-grown {
  grid-template-columns: 7rem 1fr;
}

.titles-animation-grow {
  grid-column: 1/2;
  background-color: #cdb4db;
  cursor: pointer;
}

.card-hyperLink, .card-forms {
  margin: 0.1rem;
  text-align: left;
  border-radius: 7px;
  transition: all 550ms ease-in-out;
  background-color: #f9f9f9;
}
.card-hyperLink:hover, .card-forms:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px white;
  background-color: #ffc8dd;
}

.card-forms {
  display: grid;
  padding: 1rem;
}
.card-forms .card-text {
  font-size: clamp(0.75rem, 0.75rem + 1vw, 1.25rem);
  justify-self: center;
  align-self: center;
}

.card-hyperLink {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  color: rgba(36, 0, 0, 0.8980392157);
}
.card-hyperLink .site-icon {
  margin: 0.5rem;
  justify-self: start;
  align-self: center;
  height: 2rem;
}
.card-hyperLink .link-description {
  font-size: 1rem;
  justify-self: center;
  align-self: center;
}